/*-- scss:defaults --*/
  
$theme-turquoise: #297075;
$theme-white: #FFFFFF;

$link-color: $theme-turquoise;
$navbar-bg: $theme-turquoise;
$navbar-hl: $theme-white;

$callout-color-tip: $theme-turquoise;