/*-- scss:defaults --*/

$theme-turquoise: #297075;
$theme-lightturquoise: #E2ECED;
$theme-white: #FFFFFF;

$link-color: $theme-lightturquoise;
$navbar-bg: $theme-turquoise;
$navbar-hl: $theme-white;

$callout-color-tip: $theme-lightturquoise;